@model List<AHP.WebAPI.Models.AlternativeComparisonMvcModel>
@{
    ViewBag.Title = "Unfilled";
}

<h2>Unfilled comparisons</h2>


@using (@Html.BeginForm("ListUnfilledAlternativeComparisons", "AlternativeComparison", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                Criteria name
            </th>
            <th>
                First alternative
            </th>

            <th width="400px">
                Ratio
            </th>
            <th>
                Second alternative
            </th>
            <th></th>

        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                @Html.Hidden("comps.Index", (@i + 10))
                @Html.Hidden("comps[" + (@i + 10) + "].CriteriaID", Model[i].CriteriaID)
                <td>
                    @Model[i].CriteriaName
                </td>
                @Html.Hidden("comps[" + (@i + 10) + "].AlternativeID1", Model[i].AlternativeID1)
                <td>
                    @Model[i].AlternativeName1
                </td>
                <td>

                    @Html.TextBox("comps[" + (@i + 10) + "].AlternativeRatio",
                    Model[i].AlternativeRatio, new { @class = "form-control", type = "range", step = "1", min = "-8", max = "8", value = Model[i].AlternativeRatio })

                </td>

                @Html.Hidden("comps[" + (@i + 10) + "].AlternativeID2", Model[i].AlternativeID2, new { @readonly = "readonly" })

                <td>
                    @Model[i].AlternativeName2
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Alternatives", "ListAlternatives", "Alternative", new { page = 1 }, null)
</div>