@model IEnumerable<AHP.WebAPI.Models.AlternativeMvcModel>

@{
    ViewBag.Title = "ListAlternatives";
}

<h2>Alternatives</h2>

<p>
    @Html.ActionLink("Create New", "CreateAlternative")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlternativeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AlternativeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateUpdated)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "DeleteAlternative", new { alternativeid= item.AlternativeID })
    </td>
</tr>
}
</table>
<div>
    @Html.ActionLink("Prev", "ListAlternativesPage", "Alternative", new { page = ((int)Session["Page"] - 1) }, null) |
    @Html.ActionLink("Next", "ListAlternativesPage", "Alternative", new { page = ((int)Session["Page"]  + 1) }, null)
</div>
