@model IEnumerable<AHP.WebAPI.Models.CriterionMvcModel>

@{
    ViewBag.Title = "ListCriteria";
}
<h2>@Session["ChoiceName"]</h2>

<h2>Criteria</h2>

<p>
    @Html.ActionLink("Create New", "CreateCriterion")
</p>
<div>
    @Html.ActionLink("Alternatives", "ListAlternatives", "Alternative", new { page = 1 }, null) |
    @Html.ActionLink("Criteria", "ListCriteria", "Criterion", new { page = 1 }, null)
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CriteriaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CriteriaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteCriterion", new { criterionid = item.CriteriaID })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Prev", "ListCriteria", "Criterion", new { page = ((int)Session["Page"] - 1) }, null) |
    @Html.ActionLink("Next", "ListCriteria", "Criterion", new { page = ((int)Session["Page"] + 1) }, null)
</div>
<div>
    @Html.ActionLink("Choices", "ListChoices", "LoggedIn", new { page = 1 }, null)
</div>

